/* Estilos */


/* Titulo principal, debe ser en mayuscula y centrado */

h1{
    text-transform: uppercase;
    text-align: center;
}
/* Cambiar el estilo de la lista, que se alfabetico. (a, b, c, d....)  */

ul{
    list-style: lower-latin;
}
/* Los titulos secondarios, que el tamaño de la tipografia sea 40px con estilo italiano */
h2{
    font-size: 40px;
    font-style: italic;
}

/* Buscar dentro de cada parrafo todas las palabras Quijote y resaltar con un color anaranjando y raya abajo de la palabra  */
span {
    text-decoration: underline;
    color: darkorange
}


     
/* Implementar a todos los parrafos la tipografia tipo arial y si la computadora no la tiene que carge una tipografia sin serifa (listo) */
p{
    font-family: Arial, sans-serif; 
    text-align: justify;
    text-indent:40px;
}


/* La primera letra de cada parrafo que sea en mayuscula, negrita y con un tamaño de 25px (listo) */
p::first-letter{
    text-transform:uppercase;
    font-size: 25px;
    font-style:bold; 

}


/* La primer linea de cada parrafo, implementar una sangria(espacio hacia dentro)(listo)*/
   
/* Justificar todos los textos de los parrafos (listo)*/

/* Los botones de cada capitulo que dicen ver capitulo completo, que sean:  
    _ Remover la linea que muestra debajo del texto.
    _ De color #555555. 
    _ Con un tamaño de 20px. 
    _ Con borde negro.
    _ Color de texto que sea blanco.
    _ Ancho de 200px.
    _ Texto centrado.
    _ Espaciado entre cada letra de 2px.

    Implementar que al pasar el mouse por encima invierta los colores:
    _ Texto en #555555.
    _ Color de fondo blanco.


*/
a{

    text-decoration: none;
    background-color:#555555;
    background-size: 20px;
    border: 2px solid black;
    color: white;

    text-align: center;
    letter-spacing: 2px;
    padding-left: 200px;
    padding-right: 200px;  
    
}

a:hover{
    color: #555555;
    background-color: white;
    
}
